
@model List<GetProductVM>
@{
    ViewData["Title"] = "List";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Product List</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Category Name</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Price.ToString("C2")</td>
                            <td>
                                <img src="@item.ImagePath" width="100" />
                            </td>
                            <td>@item.CategoryName</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Update</a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Create" class="btn btn-block btn-dark">Create a Product</a>
        </div>
    </div>
</div>


