@* Layout sayfasında her category ismine tıklayınca o category ait olan ürünlerin gelmesi için *@

@model List<GetProductVM>
@{
    ViewData["Title"] = "ProductsByCategory";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <img src="@item.ImagePath" class="card-img" />
                </div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                    <h5 class="card-text">@item.Description</h5>
                    <h5 class="card-text">@item.Price.ToString("C2")</h5>
                    <h5 class="card-text">@item.CategoryName</h5>
                </div>
                <div class="card-footer">
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary btn-block addToCart">Add Cart</a>
                </div>
            </div>
        </div>
    }
</div>


